<h1>Formulario de registro IMSS</h1>
<p>Por favor llene los campos: name, CURP, Dirección, Edad y Número de IMSS</p>

<%= form_for(@hospital, url: pags_form_post_path, method: 'post') do |f| %>
  <label for='name'>Nombre</label>
  <%= f.text_field :name, id: 'name' %>
  <label for='fed_id'>CURP</label>
  <%= f.text_field :fed_id, id: 'fed_id' %>
  <label for='address'>Dirección</label>
  <%= f.text_field :address, id: 'address' %>
  <label for='birthdate'>Fecha de nacimiento</label>
  <%= f.date_field :age, id: 'birthdate' %>
  <label for='phone'>Teléfono</label>
  <%= f.text_field :phone, id: 'phone' %>
  <label for='social_security_n'>Número de IMSS</label>
  <%= f.text_field :social_security_n, id: 'social_security_n' %>
  <button type="submit" class="btn btn-default">Enviar</button>
<% end%>
<%= flash[:alert] %>
